<script>
import { action } from './util';
let timer;

function start() {
  timer = action(3);
}

function stop() {
  clearInterval(timer);
}

</script>

<div class="scu-hpv-c">
  <div class="scu-hpv">
    <div class="btn start" on:click={start}>开始</div>
    <div class="btn stop" on:click={stop}>暂停</div>
  </div>
</div>

<style>
  .scu-hpv-c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .scu-hpv {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #ffd8d8;
    border-radius: 15px;
    border: 2px solid rgb(248, 153, 153);
  }
  .btn {
    box-sizing: border-box;
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    cursor: pointer;
  }
  .start {
    background: #67bcff;
  }
  .start:hover {
    background: #419de6;
  }
  .start:active {
    background: #007fe3;
  }
  .stop {
    background: #f7a2f3;
  }
  .stop:hover {
    background: #fa81f4;
  }
  .stop:active {
    background: #ff34f5;
  }
</style>
